.header {
    width: 100%;
    padding-top: 41px;
    max-height: 116px;
    box-sizing: border-box;
    z-index: 1;
}

.wrap {
    margin: 0 auto;
    max-width: 1162px;
}

.menu {
    width: 100%;
}

.list {
    font-family: 'Urban Space', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
    font-size: 40px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;

}

.item {
    color: #ffffff;
}

.line {
    width: 100%;
    height: 3px;
    background: #ffffff;
}