.container {
    padding-top: 130px;
    width: 100%;
    align-items: center;
    max-height: 1656px;
    margin-bottom: 200px;
    box-sizing: border-box;

    background-image:
        url('./image-road-map/road-map-lines.png'),
        url('./image-road-map/road-map-tref.png'),
        url('./image-road-map/road-map-arrow-right.png'),
        url('./image-road-map/road-map-arrow-left.png'),
        url('./image-road-map/road-map-ass.png'),
        url('./image-road-map/road-map-arrow-right.png'),
        url('./image-road-map/road-map-crosses.png'),
        url('./image-road-map/road-map-zigzag.png'),
        url('./image-road-map/road-map-arrow-left.png'),
        url('./image-road-map/road-map-bird-stroke.svg');
    background-repeat: no-repeat;
    background-position:
        959px 112px,
        291px 279px,
        1345px 381px,
        566px 604px,
        1464px 609px,
        1345px 872px,
        1435px 1025px,
        982px 1098px,
        581px 1203px,
        1286px 1476px;
    ;

}

.wrap {
    height: 100%;
    margin: 0 auto;
    max-width: 1162px;
}


.title__us {
    font-family: 'Ganglia Basal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    color: #6231EB;
}


.text_yellow {
    color: #FFC700;
    font-weight: bold;
}

.text__box {
    min-height: 1300px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-basis: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
}

.text__box_left {
    display: flex;
    max-width: 47%;
    flex-direction: column;
    justify-content: space-between;
}

.text__box_right {
    display: flex;
    max-width: 47%;
    flex-direction: column;
    justify-content: space-around;
}